# Exemple d'environnement
# Copiez ce fichier en .env.local et renseignez les valeurs
NODE_ENV=development
NEXT_PUBLIC_APP_NAME=PrintShop
# DATABASE_URL=postgresql://user:password@host:5432/printshop
# NEXTAUTH_URL=https://votre-domaine
# NEXTAUTH_SECRET=changez-moi